html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family:cursive;
  background-color: black;
   color:white;
}

li {
  list-style: none;
}

header {
  background-color:coral;
  color:black;
  height: 90px;
}

.header-logo {
  font-size: 36px;
  padding: 20px 40px;
  float:left;
  font-weight:bold;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.copy-container {
  margin: 100px 80px;
  text-align: center;
  background-color: black;
  color:white;
  height: 700px;
}

.copy-container h1 {
  font-size:140px;
}

.copy-container h2 {
  font-size:60px;
}

.item {
  float: left;
  padding-right: 50px;
  padding-top:50px;
  width: 30%;
  text-align:center;
  }

.item h4 {
    font-size: 30px;
    font-weight:bold;
}

.item p {
  font-size:20px;
}


.products {
  height: 600px;
  margin:100px 80px;
  text-align: center;
}

h3 {
  font-size: 36px;
  font-weight:bold;
  padding-bottom:15px;
  border-bottom: 2px solid #dee7ec;
  text-align: center;
}

.product {
  float: left;
  padding-right: 40px;
  padding-top:50px;
  width: 20%;
  text-align:center;
  }


.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 12px
}

.contact-form {
  margin :100px 80px;
  background-color: black;
  color:white;
}

.contact-form h3{
 margin-bottom:50px;
}

input, textarea {
  width:400px;
  padding:20px;
  margin-bottom:30px;
  border:1px solid #dee7ec;
  margin-top:10px;
  font-size:18px;
}

.contact-submit {
  background-color:coral;
  color: #0a0c0e;
  font-weight: bold;
}

.contact-submit :active {
 cursor:pointer;
 }

span {
  color:tomato;
}

footer {
  background-color: coral;
  color:black;
  height: 120px;
  padding:40px;
}

.footer-logo {
  float: left;
  font-size:32px;
  font-weight: bold;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom:20px;
}
